control
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
cycler==0.10.0
dill==0.2.9
future==0.18.2
gym==0.15.4
idna==2.8
joblib==0.13.2
kiwisolver==1.1.0
matplotlib==3.1.2
numpy==1.18.1
opencv-contrib-python==4.0.0.21
opencv-python==4.0.0.21
pandas==0.25.3
pixiedust==1.1.15
progressbar2==3.39.3
pybullet==2.6.3
pyglet==1.3.2
pyparsing==2.4.6
python-dateutil==2.8.1
python-utils==2.3.0
pytz==2019.3
scipy==1.4.1
six==1.13.0
torch==1.3.1
tqdm==4.31.1
