absl-py==0.5.0
astor==0.7.1
atari-py==0.1.1
attrs==18.2.0
backcall==0.1.0
-e git+https://github.com/sgillen/baselines@9d87fea717eae101c1f959d5e8fc95dc0e5cc724#egg=baselines
beniget==0.1.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==0.5.3
cycler==0.10.0
Cython==0.29.9
decorator==4.3.0
dill==0.2.8.2
future==0.16.0
gast==0.2.0
glfw==1.7.0
grpcio==1.15.0
gym==0.12.5
h5py==2.8.0
idna==2.7
imageio==2.4.1
ipdb==0.11
ipykernel==5.1.1
ipyparallel==6.2.4
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
joblib==0.12.5
jupyter-client==5.2.4
jupyter-core==4.4.0
Keras==2.2.2
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.1.0
lockfile==0.12.2
Logbook==1.4.0
lxml==4.2.5
Markdown==3.0.1
matplotlib==3.1.0
meshcat==0.0.10
mkl-fft==1.0.12
mkl-random==1.0.2
mpi4py==3.0.0
-e git+https://github.com/openai/mujoco-py@1aeb02e2df429860aaba6783d61fc382c58bf885#egg=mujoco_py
networkx==2.3
numpy==1.15.3
opencv-python==4.1.0.25
pandas==0.24.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.3.0
pipenv==2018.10.13
ply==3.11
progressbar2==3.38.0
prompt-toolkit==1.0.16
protobuf==3.6.1
ptyprocess==0.6.0
py==1.6.0
# Editable install with no version control (pybullet==2.5.3)
-e /home/sgillen/miniconda3/envs/baselines/lib/python3.6/site-packages
pycparser==2.19
pydot==1.2.4
pyglet==1.3.2
Pygments==2.2.0
pymongo==3.7.2
PyOpenGL==3.1.0
pyparsing==2.2.0
PyQt5==5.11.2
PyQt5-sip==4.19.12
pyshark==0.4.1
python-dateutil==2.8.0
python-utils==2.3.0
pythran==0.9.2
pytz==2019.1
PyYAML==3.13
pyzmq==17.1.2
requests==2.19.1
scikit-learn==0.19.2
scipy==1.1.0
-e git+https://github.com/sgillen/seagul@eccbfc169da9962e87ce78bd9b309110c5e2cc5c#egg=seagul
simplegeneric==0.8.1
six==1.12.0
sklearn==0.0
tensorboard==1.12.2
tensorflow==1.11.0
tensorflow-gpu==1.12.0
termcolor==1.1.0
torch==1.0.1
torchfile==0.1.0
torchtext==0.3.1
torchvision==0.2.1
tornado==5.1
tqdm==4.26.0
traitlets==4.3.2
u-msgpack-python==2.5.0
urllib3==1.23
virtualenv==16.1.0
virtualenv-clone==0.4.0
visdom==0.1.8.8
wcwidth==0.1.7
websocket-client==0.54.0
Werkzeug==0.14.1
zmq==0.0.0
